*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /* background-image: url("G.jpg"); */

}
.PAGE{
    height: 100vh;
    width: 100vw;
    background-image: url(jump.jpg);
    background-position: center;
    background-size: cover;
   
}
.sidenav {
    height: 100vh;
    width: 250px;
    /* float: right; */
    right: 100px;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: #191a1e;
    overflow-x: hidden;
    padding-top: 20px;
    box-shadow: 0px 0px 10px 2px #000;

}
.sidenav form input {
    margin-top: 1%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 80px;
    padding-right: 85px;

    text-align: center;
    text-decoration: none;
    font-size: 25px;
    color: #feda6a;
    background-color:  #1c1d23;
    border: none;
    outline: none;
    outline-offset: none;

    display: block;
}
.sidenav form input:hover {
    background-color:  #191a1e;
    color: #feda6a;
    box-shadow: 0px 0px 10px 2px #000;
}
.main {
    /* margin-left: 160px; Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}
.main .container{
    margin-top:30px;
    height: 95vh;
    width:90vw;
    float: right;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.2)), url(jump.jpg);
    background-position: center;
    background-size: cover;
   
    box-shadow: 0px 0px 10px 2px #000;
}
  
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
  
.buttons {
    width: 190px;
    height: 40px;
    margin-left: 20px;
    margin-top: 20px;
    position: relative;
}
.btn {
    letter-spacing: 3px;
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
    max-width: 160px;
    position: absolute;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
}
.btn:hover {
    text-decoration: none;
}
.effect {
    box-shadow: 0px 0px 5px 5px #000;
    background-color: #191a1e;;
    overflow: hidden;
    position: absolute;
    transition: all 0.3s ease-in-out;
}
.effect:hover {
    border: 4px solid  #191a1e;;
    background-color:  #191a1e;;
    box-shadow:0px 0px 0px 4px #EEE inset;
}

.effect label {
    color: #feda6a;
    /* text-align: center; */
    padding-left: 30px;
    font-family: Arial;
    transition: all 0.2s ease-out;
    z-index: 2;
    font-weight: 600;
}
.effect:hover label{
    letter-spacing: 0.13em;
    color: rgb(86, 85, 85);
    font-weight: 900;
}

.effect:after {
    background: #FFF;
    border: 0px solid #000;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .8;
    position: absolute;
    top: -50px;
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
    width: 50px;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);/*easeOutCirc*/
    z-index: 1;
}
.effect:hover:after {
    background: #FFF;
    border: 20px solid #000;
    opacity: 0;
    left: 120%;
}
/* ------------------------------------------------------------------------ */
.Menu
{
  position:absolute;
  top:87%;
  left:26%;
  width:600px;
  height:200px;
}
.Menu input
{
  position:absolute;
  top: 0%;
  left:50%;
  width:80px;
  height:80px;
  z-index:20;
  border-radius: 80px;
  opacity:0;
  cursor:pointer;
}
.hamburger
{
  position:absolute;
  top:0%;
  left:50%;
  width: 80px;
  height:80px;
  background-color: rgba(132, 52, 59, 0.972);
  border-radius:100%;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
  z-index:10;
  cursor:pointer;
}
.dots span
{
  position: absolute;
  top: 45%;
  width:8px;
  height:8px;
  border-radius:100%;
  background:#fff;
  z-index:20;
  transition: all .3s ease-in-out;
}

.first{
  margin-left:15px;
}
.second{ 
  margin-left:37px;
}
.third{
   margin-left:55px;
}

.action_items_bar{
  position:absolute;
  top:4.5%;
  left:25%;
  width:380px;
  height:60px;
  background-color: rgba(132, 52, 59, 0.972);
  border-radius:60px;
  z-index:5;

  transform:scaleX(0);
  transition: all .3s ease-in-out;
}
.Menu input:checked ~ .action_items_bar{
  transform:scaleX(1);
}
.action_items label{
  position: absolute;
  top: 25%;
  width:20px;
  padding-left:35px;
  opacity:0;
  transition: all .2s ease-in-out;
  cursor:pointer; 
}
.first_item{
  left:0%;
}
.fourth_item{
  left:55%;
}
.Menu input:checked ~ .action_items_bar .action_items .fourth_item,
.Menu input:checked ~ .action_items_bar .action_items .first_item
{
    opacity:1;
    transition-delay:.45s;
}
/* ------------------------------------------------------------------------------- */
.other h4{
    color: rgb(255, 255, 255);
    margin-top: 50px;
    font-weight: 800;
    margin-left: 27%;
    font-size: larger;
}
.container form input {    
    margin-left: 3%;
    background-color: whitesmoke;
    border-color: whitesmoke;
    color: black;
    border-radius: 7px; 
    /* outline: 1px dashed transparent; */
    /* outline-offset: 2px; */
    box-shadow: 0px 0px 10px 2px #000;

    font-size: 1rem;
    height: 2 rem;
    /* margin-top: 0.25rem; */
    order: 2;
    padding: 0.5rem;
    width: 20%;
}
.EnrollBTN input[type="submit"]{
    color: white;
    box-shadow: none;
    /* border-color: rgba(132, 52, 59, 0.972); */
    background: rgba(132, 52, 59, 0.972);
    font-size: 0.75rem;
    font-weight: bold;
    border-radius: 20px;
    order: 4;
    text-transform: uppercase;
    width: 100px;
    height: 55px;
    padding: 20px;

    margin-top: 30%;
    display: flex;
}
.left{
    float:left;
    margin-left: 10%;
}
.marginforbuttons{
    margin-left: 23%;
}
.clear{
    clear:both;
}

.row p{
    margin-left: 27%;
    color: white;
    font-weight: 650;
    font-size: 20px;
}
.OR{
    margin-left: 37%;
    color: white;
    font-weight: 650;
    font-size: 20px;
    padding: 40px;
}

/* -----------------------------------------DELETE BOX-------------------------------------- */
/* Set a style for all buttons */
